In [2]:
import pandas as pd

In [3]:
ls = pd.read_csv("/Users/rrodr102/Desktop/Python/LineupData0110/Lineup Data/lineup_summary_all_games.csv")
pairs = pd.read_csv("/Users/rrodr102/Desktop/Python/LineupData0110/Lineup Data/pair_analysis_all_games.csv")
indiv = pd.read_csv("/Users/rrodr102/Desktop/Python/LineupData0110/Lineup Data/individual_summary_all_games.csv")
trios = pd.read_csv("/Users/rrodr102/Desktop/Python/LineupData0110/Lineup Data/trio_analysis_all_games.csv")

### Show lineups with more than 22 possessions

In [4]:
display(ls[['lineup', 'rel_PM_p40','poss_total','PM_p40', 'net_rtg', 'minutes',
       'o_poss', 'd_poss',   'off_rtg',
       'def_rtg', 'team_off_rtg', 'team_def_rtg', 'team_PM_p40']][ls['poss_total']>22].sort_values('poss_total', ascending =False))

,lineup,rel_PM_p40,poss_total,PM_p40,net_rtg,minutes,o_poss,d_poss,off_rtg,def_rtg,team_off_rtg,team_def_rtg,team_PM_p40
0,JL-AM-IK-MH-CH,14.668,178.985,16.134,21.976,57.022,90.950,88.035,125.344,103.368,109.038,106.074,1.467
1,JL-AM-AC-MH-CH,-3.416,73.333,-1.950,-1.760,20.515,36.510,36.823,112.298,114.058,109.038,106.074,1.467
2,JL-AM-IK-MH-PR,10.946,67.390,12.413,21.668,19.335,33.208,34.181,144.542,122.874,109.038,106.074,1.467
3,AM-AC-ZO-MH-PR,29.467,59.045,30.934,49.728,16.810,28.520,30.525,108.696,58.968,109.038,106.074,1.467
4,AM-AC-ZO-MH-CH,-4.464,43.640,-2.997,-2.214,13.347,21.580,22.060,106.580,108.794,109.038,106.074,1.467
6,JL-AM-ZO-MH-CH,-33.150,39.170,-31.683,-11.042,10.100,17.190,21.980,116.347,127.389,109.038,106.074,1.467
5,AM-IK-ZO-MH-PR,20.187,36.250,21.654,15.638,11.083,19.730,16.520,106.437,90.799,109.038,106.074,1.467
8,JL-AM-AC-MH-PR,14.347,26.537,15.814,-10.433,7.588,15.260,11.277,104.849,115.282,109.038,106.074,1.467
7,AM-AC-ZO-KJ-PR,6.836,26.207,8.303,22.096,9.635,12.617,13.590,103.038,80.942,109.038,106.074,1.467
10,AM-AC-IK-MH-CH,-23.844,22.530,-22.378,-40.659,7.150,11.800,10.730,33.898,74.557,109.038,106.074,1.467
13,JL-AC-IK-MH-CH,-32.979,22.060,-31.513,-38.988,6.347,10.660,11.400,75.047,114.035,109.038,106.074,1.467

## Top 10 Lineups [that have played sufficient def possessions]

In [5]:
top10 = ls.sort_values('d_poss', ascending=False).head(11)
top10.insert(0, 'Index', range(1, len(top10) + 1))
def color_pm(val):
    color = ''
    if val > 0:
        color = f'background-color: rgba(0, 200, 0, {min(val/20,1):.2f})'
    elif val < 0:
        color = f'background-color: rgba(255, 0, 0, {min(abs(val)/20,1):.2f})'
    return color

cols = ['Index','lineup', 'poss_total', 'minutes', 'PM_p40', 'rel_PM_p40', 'off_rtg', 'def_rtg']
top10 = top10[cols]
top10 = top10.round(1)

top10.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['rel_PM_p40']).format({
    'poss_total':'{:.1f}',
    'minutes' : '{:.1f}',
    'plus_minus': '{:.1f}',

    'PM_p40': '{:.1f}',
    'rel_PM_p40':'{:.1f}',

    'off_rtg': '{:.2f}',
    'def_rtg': '{:.2f}'
}
                                                         )

/var/folders/qh/zhr4gq8s5px2ff46zwfdk90hy3y30j/T/ipykernel_89246/1851225626.py:15: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  top10.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['rel_PM_p40']).format({

## 2-Player Combo analysis - 6 games

##### Most minutes played

In [6]:
display(pairs[pairs['minutes']>60].sort_values('minutes',ascending=False).reset_index(drop= True))

,player1,player2,minutes,pts_for,pts_against,o_poss,d_poss,plus_minus,off_rtg,def_rtg,net_rtg,PM_p40,rel_PM_p40,rel_off_rtg,rel_def_rtg,rel_net_rtg
0,AM,MH,180.093,340,316,304.148,302.516,24,111.787682,104.457285,7.330397,5.330579,3.863922,2.749640,-1.617236,4.366876
1,AM,CH,163.842,286,296,265.325,271.178,-10,107.792330,109.153397,-1.361067,-2.441376,-3.908033,-1.245712,3.078877,-4.324589
2,JL,AM,148.092,301,279,249.153,243.936,22,120.809302,114.374262,6.435040,5.942252,4.475595,11.771260,8.299741,3.471519
3,JL,MH,140.742,291,272,243.898,240.286,19,119.312171,113.198439,6.113733,5.399952,3.933295,10.274129,7.123918,3.150212
4,MH,CH,140.461,255,257,232.150,236.938,-2,109.842774,108.467194,1.375580,-0.569553,-2.036210,0.804732,2.392673,-1.587941
5,AM,IK,135.277,230,222,214.393,217.561,8,107.279622,102.040347,5.239275,2.365517,0.898860,-1.758420,-4.034174,2.275753
6,JL,CH,131.977,248,248,217.795,219.678,0,113.868546,112.892506,0.976040,0.000000,-1.466657,4.830504,6.817985,-1.987481
7,IK,MH,129.103,244,226,216.998,214.301,18,112.443433,105.459144,6.984289,5.576942,4.110286,3.405390,-0.615377,4.020767
8,AM,PR,115.747,207,184,189.035,187.188,23,109.503531,98.296899,11.206632,7.948370,6.481713,0.465489,-7.777621,8.243110
9,JL,IK,115.671,227,210,191.233,189.326,17,118.703362,110.919789,7.783573,5.878742,4.412085,9.665320,4.845268,4.820051
10,IK,CH,114.223,181,184,178.785,185.525,-3,101.238918,99.178008,2.060910,-1.050577,-2.517233,-7.799124,-6.896513,-0.902611
11,AM,AC,109.567,193,177,184.197,181.920,16,104.779122,97.295515,7.483608,5.841175,4.374518,-4.258920,-8.779006,4.520087
12,AC,MH,97.910,174,169,172.450,170.260,5,100.898811,99.259955,1.638856,2.042692,0.576035,-8.139231,-6.814565,-1.324665
13,AC,CH,97.281,167,182,162.760,163.323,-15,102.605063,111.435621,-8.830559,-6.167700,-7.634357,-6.432979,5.361101,-11.794080
14,AM,ZO,92.118,153,162,145.287,155.975,-9,105.308803,103.862799,1.446004,-3.908031,-5.374688,-3.729240,-2.211722,-1.517517
15,ZO,MH,82.197,146,147,140.730,148.325,-1,103.744759,99.106691,4.638068,-0.486636,-1.953293,-5.293283,-6.967829,1.674547
16,AC,ZO,75.641,134,128,121.617,124.615,6,110.181965,102.716366,7.465598,3.172882,1.706226,1.143923,-3.358154,4.502077
17,AC,PR,75.322,139,117,126.037,122.697,22,110.285075,95.356855,14.928220,11.683174,10.216517,1.247033,-10.717666,11.964699
18,MH,PR,73.834,151,126,136.838,128.358,25,110.349464,98.162950,12.186514,13.543896,12.077239,1.311422,-7.911570,9.222993
19,IK,PR,72.035,131,131,122.288,120.666,0,107.124166,108.564136,-1.439970,0.000000,-1.466657,-1.913876,2.489615,-4.403491
20,ZO,CH,70.898,121,149,113.470,123.800,-28,106.636115,120.355412,-13.719297,-15.797343,-17.264000,-2.401927,14.280891,-16.682818
21,JL,AC,70.070,141,142,124.640,119.420,-1,113.125802,118.908056,-5.782253,-0.570858,-2.037515,4.087760,12.833535,-8.745775
22,ZO,PR,66.439,108,101,108.777,106.545,7,99.285695,94.795626,4.490068,4.214392,2.747735,-9.752348,-11.278895,1.526547
23,JL,PR,62.377,133,129,110.228,103.028,4,120.658998,125.208681,-4.549683,2.565048,1.098391,11.620956,19.134160,-7.513205

#### Best PM_p40

In [7]:
display(pairs[pairs['minutes']>60].sort_values('PM_p40',ascending=False).reset_index(drop= True))

,player1,player2,minutes,pts_for,pts_against,o_poss,d_poss,plus_minus,off_rtg,def_rtg,net_rtg,PM_p40,rel_PM_p40,rel_off_rtg,rel_def_rtg,rel_net_rtg
0,MH,PR,73.834,151,126,136.838,128.358,25,110.349464,98.162950,12.186514,13.543896,12.077239,1.311422,-7.911570,9.222993
1,AC,PR,75.322,139,117,126.037,122.697,22,110.285075,95.356855,14.928220,11.683174,10.216517,1.247033,-10.717666,11.964699
2,AM,PR,115.747,207,184,189.035,187.188,23,109.503531,98.296899,11.206632,7.948370,6.481713,0.465489,-7.777621,8.243110
3,JL,AM,148.092,301,279,249.153,243.936,22,120.809302,114.374262,6.435040,5.942252,4.475595,11.771260,8.299741,3.471519
4,JL,IK,115.671,227,210,191.233,189.326,17,118.703362,110.919789,7.783573,5.878742,4.412085,9.665320,4.845268,4.820051
5,AM,AC,109.567,193,177,184.197,181.920,16,104.779122,97.295515,7.483608,5.841175,4.374518,-4.258920,-8.779006,4.520087
6,IK,MH,129.103,244,226,216.998,214.301,18,112.443433,105.459144,6.984289,5.576942,4.110286,3.405390,-0.615377,4.020767
7,JL,MH,140.742,291,272,243.898,240.286,19,119.312171,113.198439,6.113733,5.399952,3.933295,10.274129,7.123918,3.150212
8,AM,MH,180.093,340,316,304.148,302.516,24,111.787682,104.457285,7.330397,5.330579,3.863922,2.749640,-1.617236,4.366876
9,ZO,PR,66.439,108,101,108.777,106.545,7,99.285695,94.795626,4.490068,4.214392,2.747735,-9.752348,-11.278895,1.526547
10,AC,ZO,75.641,134,128,121.617,124.615,6,110.181965,102.716366,7.465598,3.172882,1.706226,1.143923,-3.358154,4.502077
11,JL,PR,62.377,133,129,110.228,103.028,4,120.658998,125.208681,-4.549683,2.565048,1.098391,11.620956,19.134160,-7.513205
12,AM,IK,135.277,230,222,214.393,217.561,8,107.279622,102.040347,5.239275,2.365517,0.898860,-1.758420,-4.034174,2.275753
13,AC,MH,97.910,174,169,172.450,170.260,5,100.898811,99.259955,1.638856,2.042692,0.576035,-8.139231,-6.814565,-1.324665
14,JL,CH,131.977,248,248,217.795,219.678,0,113.868546,112.892506,0.976040,0.000000,-1.466657,4.830504,6.817985,-1.987481
15,IK,PR,72.035,131,131,122.288,120.666,0,107.124166,108.564136,-1.439970,0.000000,-1.466657,-1.913876,2.489615,-4.403491
16,ZO,MH,82.197,146,147,140.730,148.325,-1,103.744759,99.106691,4.638068,-0.486636,-1.953293,-5.293283,-6.967829,1.674547
17,MH,CH,140.461,255,257,232.150,236.938,-2,109.842774,108.467194,1.375580,-0.569553,-2.036210,0.804732,2.392673,-1.587941
18,JL,AC,70.070,141,142,124.640,119.420,-1,113.125802,118.908056,-5.782253,-0.570858,-2.037515,4.087760,12.833535,-8.745775
19,IK,CH,114.223,181,184,178.785,185.525,-3,101.238918,99.178008,2.060910,-1.050577,-2.517233,-7.799124,-6.896513,-0.902611
20,AM,CH,163.842,286,296,265.325,271.178,-10,107.792330,109.153397,-1.361067,-2.441376,-3.908033,-1.245712,3.078877,-4.324589
21,AM,ZO,92.118,153,162,145.287,155.975,-9,105.308803,103.862799,1.446004,-3.908031,-5.374688,-3.729240,-2.211722,-1.517517
22,AC,CH,97.281,167,182,162.760,163.323,-15,102.605063,111.435621,-8.830559,-6.167700,-7.634357,-6.432979,5.361101,-11.794080
23,ZO,CH,70.898,121,149,113.470,123.800,-28,106.636115,120.355412,-13.719297,-15.797343,-17.264000,-2.401927,14.280891,-16.682818

In [8]:
import ipywidgets as widgets
from IPython.display import display

# trios is your DataFrame with columns: player1, player2, player3, minutes, net_rtg, PM_p40, etc.

# Get unique players from all 3 columns
players = sorted(
    set(pairs["player1"]).union(pairs["player2"])
)

def color_pm(val):
    if val is None:
        return ""
    try:
        v = float(val)
    except Exception:
        return ""
    if v > 0:
        return f"background-color: rgba(0, 200, 0, {min(v/20, 1):.2f})"
    elif v < 0:
        return f"background-color: rgba(255, 0, 0, {min(abs(v)/20, 1):.2f})"
    return ""

def show_combinations(player, sort_by="d_poss", ascending=False):
    mask = (
        (pairs["player1"] == player)
        | (pairs["player2"] == player)
    )
    df = pairs[mask].copy()
    df = df[df['minutes'] > 15]

    if sort_by in df.columns:
        df = df.sort_values(by=sort_by, ascending=ascending)

    display(
        df.style
        .applymap(color_pm, subset=["PM_p40"])
        .applymap(color_pm, subset=["net_rtg"])
        .format({
            "PM_p40": "{:.1f}",
            "net_rtg": "{:.1f}",
            "minutes": "{:.1f}",
            "plus_minus": "{:.1f}",
            "o_poss": "{:.1f}",
            "d_poss": "{:.1f}",
            "pts_for": "{:.1f}",
            "pts_against": "{:.1f}",
            "off_rtg": "{:.1f}",
            "def_rtg": "{:.1f}",
        })
    )

dropdown = widgets.Dropdown(options=players, description="Player:")
widgets.interactive(show_combinations, player=dropdown)

interactive(children=(Dropdown(description='Player:', options=('AC', 'AM', 'CH', 'IK', 'JL', 'KJ', 'MH', 'PR',

### Best Player Combos

In [9]:
# Combine player pairs so that ('IK', 'ZO') and ('ZO', 'IK') are treated as the same
# Filter pairs with at least 60 defensive possessions played together
filtered_pairs = pairs[pairs['d_poss'] >= 60].copy()
pairs_norm = filtered_pairs.copy()
pairs_norm['pair'] = pairs_norm.apply(lambda row: tuple(sorted([row['player1'], row['player2']])), axis=1)

# Group by normalized pair and aggregate stats
agg_pairs = pairs_norm.groupby('pair').agg({
    'minutes': 'sum',
    'net_rtg': 'mean',
    'PM_p40': 'mean',
    'pts_for': 'sum',
    'pts_against': 'sum',
    'plus_minus': 'sum',
    'o_poss': 'sum',
    'd_poss': 'sum',
    'off_rtg': 'mean',
    'def_rtg': 'mean'
}).reset_index()

# Only keep combos with at least 50 defensive possessions
agg_pairs = agg_pairs.sort_values('PM_p40',ascending=False)
# Split pair back into player1/player2 columns for display
agg_pairs[['player1', 'player2']] = pd.DataFrame(agg_pairs['pair'].tolist(), index=agg_pairs.index)
agg_pairs = agg_pairs.drop(columns=['pair'])

# Reorder columns for display
display_cols = ['player1', 'player2','minutes', 'net_rtg', 'PM_p40', 'plus_minus', 'o_poss', 'd_poss', 'pts_for', 'pts_against', 'off_rtg', 'def_rtg']
agg_pairs = agg_pairs[display_cols].round(2)

# Apply colormap formatting
def color_pm(val):
    color = ''
    if val > 0:
        color = f'background-color: rgba(0, 200, 0, {min(val/20,1):.2f})'
    elif val < 0:
        color = f'background-color: rgba(255, 0, 0, {min(abs(val)/20,1):.2f})'
    return color
    # Set white background for the styled DataFrame
    agg_pairs = agg_pairs.style.set_properties(**{'background-color': 'white'})
agg_pairs.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['net_rtg']).format({
    'minutes': '{:.1f}',
    'net_rtg': '{:.1f}',
    'PM_p40': '{:.1f}',
    'plus_minus': '{:.1f}',
    'o_poss': '{:.1f}',
    'd_poss': '{:.1f}',
    'pts_for': '{:.1f}',
    'pts_against': '{:.1f}',
    'off_rtg': '{:.1f}',
    'def_rtg': '{:.1f}',
})

/var/folders/qh/zhr4gq8s5px2ff46zwfdk90hy3y30j/T/ipykernel_89246/3703137032.py:41: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  agg_pairs.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['net_rtg']).format({

### WORST PLAYER COMBOS

In [10]:
# Combine player pairs so that ('IK', 'ZO') and ('ZO', 'IK') are treated as the same
# Filter pairs with at least 60 defensive possessions played together
filtered_pairs = pairs[pairs['d_poss'] >= 49].copy()
pairs_norm = filtered_pairs.copy()
pairs_norm['pair'] = pairs_norm.apply(lambda row: tuple(sorted([row['player1'], row['player2']])), axis=1)

# Group by normalized pair and aggregate stats
agg_pairs = pairs_norm.groupby('pair').agg({
    'minutes': 'sum',
    'net_rtg': 'mean',
    'PM_p40': 'mean',
    'pts_for': 'sum',
    'pts_against': 'sum',
    'plus_minus': 'sum',
    'o_poss': 'sum',
    'd_poss': 'sum',
    'off_rtg': 'mean',
    'def_rtg': 'mean'
}).reset_index()

# Only keep combos with at least 50 defensive possessions
agg_pairs = agg_pairs[agg_pairs['d_poss'] >= 35]
agg_pairs = agg_pairs.sort_values('PM_p40',ascending=True)
# Split pair back into player1/player2 columns for display
agg_pairs[['player1', 'player2']] = pd.DataFrame(agg_pairs['pair'].tolist(), index=agg_pairs.index)
agg_pairs = agg_pairs.drop(columns=['pair'])

# Reorder columns for display
display_cols = ['player1', 'player2', 'minutes', 'net_rtg', 'PM_p40', 'plus_minus', 'o_poss', 'd_poss', 'pts_for', 'pts_against', 'off_rtg', 'def_rtg']
agg_pairs = agg_pairs[display_cols].round(2)

# Apply colormap formatting
def color_pm(val):
    color = ''
    if val > 0:
        color = f'background-color: rgba(0, 200, 0, {min(val/20,1):.2f})'
    elif val < 0:
        color = f'background-color: rgba(255, 0, 0, {min(abs(val)/20,1):.2f})'
    return color
    # Set white background for the styled DataFrame
    agg_pairs = agg_pairs.style.set_properties(**{'background-color': 'white'})
agg_pairs.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['net_rtg']).format({
    'minutes': '{:.1f}',
    'net_rtg': '{:.1f}',
    'PM_p40': '{:.1f}',
    'plus_minus': '{:.1f}',
    'o_poss': '{:.1f}',
    'd_poss': '{:.1f}',
    'pts_for': '{:.1f}',
    'pts_against': '{:.1f}',
    'off_rtg': '{:.1f}',
    'def_rtg': '{:.1f}',
})

/var/folders/qh/zhr4gq8s5px2ff46zwfdk90hy3y30j/T/ipykernel_89246/1508920629.py:42: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  agg_pairs.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['net_rtg']).format({

### 3 Player Combos

In [11]:
import ipywidgets as widgets
from IPython.display import display

# trios is your DataFrame with columns: player1, player2, player3, minutes, net_rtg, PM_p40, etc.

# Get unique players from all 3 columns
players = sorted(
    set(trios["player1"]).union(trios["player2"]).union(trios["player3"])
)

def color_pm(val):
    if val is None:
        return ""
    try:
        v = float(val)
    except Exception:
        return ""
    if v > 0:
        return f"background-color: rgba(0, 200, 0, {min(v/20, 1):.2f})"
    elif v < 0:
        return f"background-color: rgba(255, 0, 0, {min(abs(v)/20, 1):.2f})"
    return ""

def show_combinations(player, sort_by="d_poss", ascending=False):
    mask = (
        (trios["player1"] == player)
        | (trios["player2"] == player)
        | (trios["player3"] == player)
    )
    df = trios[mask].copy()
    df = df[df['minutes'] > 35]

    if sort_by in df.columns:
        df = df.sort_values(by=sort_by, ascending=ascending)

    display(
        df.style
        .applymap(color_pm, subset=["PM_p40"])
        .applymap(color_pm, subset=["net_rtg"])
        .format({
            "PM_p40": "{:.1f}",
            "net_rtg": "{:.1f}",
            "minutes": "{:.1f}",
            "plus_minus": "{:.1f}",
            "o_poss": "{:.1f}",
            "d_poss": "{:.1f}",
            "pts_for": "{:.1f}",
            "pts_against": "{:.1f}",
            "off_rtg": "{:.1f}",
            "def_rtg": "{:.1f}",
            "rel_PM_p40":"{:.1f}",
            "rel_off_rtg":"{:.1f}",
            "rel_def_rtg":"{:.1f}",
            "rel_net_rtg":"{:.1f}"
        })
    )

dropdown = widgets.Dropdown(options=players, description="Player:")
widgets.interactive(show_combinations, player=dropdown)

interactive(children=(Dropdown(description='Player:', options=('AC', 'AM', 'CH', 'IK', 'JL', 'KJ', 'MH', 'PR',

In [12]:
import ipywidgets as widgets
from IPython.display import display, clear_output

accordion_children = []
titles = []

for player in players:
    out = widgets.Output()
    with out:
        show_combinations(player)
    accordion_children.append(out)
    titles.append(player)

accordion = widgets.Accordion(children=accordion_children)
for i, title in enumerate(titles):
    accordion.set_title(i, title)

display(accordion)

Accordion(children=(Output(), Output(), Output(), Output(), Output(), Output(), Output(), Output(), Output()),

### of combos that have played at least 79 defensive possessions which ones have the highest PM_p40

In [13]:
# Combine player pairs so that ('IK', 'ZO') and ('ZO', 'IK') are treated as the same
# Filter pairs with at least 60 defensive possessions played together
filtered_pairs = trios[trios['d_poss'] >= 59].copy()
pairs_norm = filtered_pairs.copy()
pairs_norm['pair'] = pairs_norm.apply(lambda row: tuple(sorted([row['player1'], row['player2'], row['player3']])), axis=1)

# Group by normalized pair and aggregate stats
agg_pairs = pairs_norm.groupby('pair').agg({
    'minutes': 'sum',
    'net_rtg': 'mean',
    'PM_p40': 'mean',
    'pts_for': 'sum',
    'pts_against': 'sum',
    'plus_minus': 'sum',
    'o_poss': 'sum',
    'd_poss': 'sum',
    'off_rtg': 'mean',
    'def_rtg': 'mean'
}).reset_index()

# Only keep combos with at least 50 defensive possessions
agg_pairs = agg_pairs.sort_values('PM_p40',ascending=False)
# Split pair back into player1/player2 columns for display
agg_pairs[['player1', 'player2', 'player3']] = pd.DataFrame(agg_pairs['pair'].tolist(), index=agg_pairs.index)
agg_pairs = agg_pairs.drop(columns=['pair'])

# Reorder columns for display
display_cols = ['player1', 'player2', 'player3','minutes', 'net_rtg', 'PM_p40', 'plus_minus', 'o_poss', 'd_poss', 'pts_for', 'pts_against', 'off_rtg', 'def_rtg']
agg_pairs = agg_pairs[display_cols].round(2)

# Apply colormap formatting
def color_pm(val):
    color = ''
    if val > 0:
        color = f'background-color: rgba(0, 200, 0, {min(val/20,1):.2f})'
    elif val < 0:
        color = f'background-color: rgba(255, 0, 0, {min(abs(val)/20,1):.2f})'
    return color
    # Set white background for the styled DataFrame
    agg_pairs = agg_pairs.style.set_properties(**{'background-color': 'white'})
agg_pairs.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['net_rtg']).format({
    'minutes': '{:.1f}',
    'net_rtg': '{:.1f}',
    'PM_p40': '{:.1f}',
    'plus_minus': '{:.1f}',
    'o_poss': '{:.1f}',
    'd_poss': '{:.1f}',
    'pts_for': '{:.1f}',
    'pts_against': '{:.1f}',
    'off_rtg': '{:.1f}',
    'def_rtg': '{:.1f}',
})

/var/folders/qh/zhr4gq8s5px2ff46zwfdk90hy3y30j/T/ipykernel_89246/864222011.py:41: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  agg_pairs.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['net_rtg']).format({

In [14]:
# Combine player pairs so that ('IK', 'ZO') and ('ZO', 'IK') are treated as the same
# Filter pairs with at least 60 defensive possessions played together
filtered_pairs = trios[trios['d_poss'] >= 49].copy()
pairs_norm = filtered_pairs.copy()
pairs_norm['pair'] = pairs_norm.apply(lambda row: tuple(sorted([row['player1'], row['player2'], row['player3']])), axis=1)

# Group by normalized pair and aggregate stats
agg_pairs = pairs_norm.groupby('pair').agg({
    'minutes': 'sum',
    'net_rtg': 'mean',
    'PM_p40': 'mean',
    'pts_for': 'sum',
    'pts_against': 'sum',
    'plus_minus': 'sum',
    'o_poss': 'sum',
    'd_poss': 'sum',
    'off_rtg': 'mean',
    'def_rtg': 'mean'
}).reset_index()

# Only keep combos with at least 50 defensive possessions
agg_pairs = agg_pairs[agg_pairs['d_poss'] >= 35]
agg_pairs = agg_pairs.sort_values('PM_p40',ascending=True)
# Split pair back into player1/player2 columns for display
agg_pairs[['player1', 'player2','player3']] = pd.DataFrame(agg_pairs['pair'].tolist(), index=agg_pairs.index)
agg_pairs = agg_pairs.drop(columns=['pair'])

# Reorder columns for display
display_cols = ['player1', 'player2', 'player3', 'minutes', 'net_rtg', 'PM_p40', 'plus_minus', 'o_poss', 'd_poss', 'pts_for', 'pts_against', 'off_rtg', 'def_rtg']
agg_pairs = agg_pairs[display_cols].round(2)

# Apply colormap formatting
def color_pm(val):
    color = ''
    if val > 0:
        color = f'background-color: rgba(0, 200, 0, {min(val/20,1):.2f})'
    elif val < 0:
        color = f'background-color: rgba(255, 0, 0, {min(abs(val)/20,1):.2f})'
    return color
    # Set white background for the styled DataFrame
    agg_pairs = agg_pairs.style.set_properties(**{'background-color': 'white'})
agg_pairs.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['net_rtg']).format({
    'minutes': '{:.1f}',
    'net_rtg': '{:.1f}',
    'PM_p40': '{:.1f}',
    'plus_minus': '{:.1f}',
    'o_poss': '{:.1f}',
    'd_poss': '{:.1f}',
    'pts_for': '{:.1f}',
    'pts_against': '{:.1f}',
    'off_rtg': '{:.1f}',
    'def_rtg': '{:.1f}',
})

/var/folders/qh/zhr4gq8s5px2ff46zwfdk90hy3y30j/T/ipykernel_89246/3652891505.py:42: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  agg_pairs.style.applymap(color_pm, subset=['PM_p40']).applymap(color_pm, subset=['net_rtg']).format({

## Individuals with the highest PM_p40

In [15]:

indiv_sorted = indiv.sort_values('PM_p40', ascending=False).reset_index(drop=True)

indiv_sorted = indiv_sorted.loc[:, ~indiv_sorted.columns.str.contains('^Unnamed')]


def color_pm(val):
    color = ''
    if val > 0:
        color = f'background-color: rgba(0, 200, 0, {min(val/20,1):.2f})'
    elif val < 0:
        color = f'background-color: rgba(255, 0, 0, {min(abs(val)/20,1):.2f})'
    return color

display(indiv_sorted.style.applymap(color_pm, subset=['PM_p40']).format({
    'plus_minus': '{:.1f}',
    'o_poss': '{:.1f}',
    'd_poss': '{:.1f}',
    'pts_for': '{:.1f}',
    'pts_against': '{:.1f}',
    'minutes': '{:.2f}',
    'off_rtg': '{:.2f}',
    'def_rtg': '{:.2f}',
    'net_rtg': '{:.2f}',
    'PM_p40': '{:.2f}',
    'team_PM_p40':'{:.1f}',
    'team_off_rtg':'{:.1f}',
    'team_def_rtg':'{:.1f}'
}))

/var/folders/qh/zhr4gq8s5px2ff46zwfdk90hy3y30j/T/ipykernel_89246/1381822628.py:14: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  display(indiv_sorted.style.applymap(color_pm, subset=['PM_p40']).format({

### Top 5 player combos by offensive turnover percentage (o_TOV%):

In [16]:
import itertools
import pandas as pd

# list of player shortcodes
players = ['LL', 'MH', 'AM7', 'AM', 'KJ', 'IK', 'JL', 'ZO', 'CH', 'MS', 'AC','PR']

# store results
combo_stats = []

for p1, p2 in itertools.combinations(players, 2):
    mask = ls['lineup'].str.contains(p1) & ls['lineup'].str.contains(p2)
    df_pair = ls[mask]

    if df_pair.empty:
        continue  # skip if this combo never played together

    agg = df_pair[['minutes', 'plus_minus', 'poss_total', 'o_poss', 'd_poss', 'pts_for', 'pts_against']].sum()

    # Compute o_TOV%
    if 'o_TOV%' in df_pair.columns and agg['o_poss'] > 0:
        total_turnovers = (df_pair['o_TOV%'] * df_pair['o_poss']).sum()
        o_tov = total_turnovers / agg['o_poss']
    else:
        o_tov = float('nan')

    combo_stats.append({
        'Combo': f"{p1}-{p2}",
        'Minutes': agg['minutes'],
        'o_TOV%': o_tov
    })

# Convert to DataFrame
combo_df = pd.DataFrame(combo_stats)
combo_df['o_TOV%'] = combo_df['o_TOV%'].round(2)
combo_df['Minutes'] = combo_df['Minutes'].round(2)

# Sort by o_TOV%
combo_df = combo_df.sort_values('o_TOV%', ascending=False)

# Display top 5
print("Top 5 player combos by offensive turnover percentage (o_TOV%):")
print(combo_df.head(10))

Top 5 player combos by offensive turnover percentage (o_TOV%):
    Combo  Minutes  o_TOV%
33  IK-AC    49.35    0.24
34  IK-PR    72.04    0.22
43  ZO-PR    66.44    0.20
38  JL-AC    70.07    0.19
3   MH-IK   129.10    0.19
35  JL-ZO    27.68    0.19
30  IK-ZO    45.20    0.19
28  KJ-PR    33.02    0.18
29  IK-JL   115.67    0.18
9   MH-PR    73.83    0.18

In [17]:
import itertools
import pandas as pd

# list of player shortcodes
players = ['LL', 'MH', 'AM7', 'AM', 'KJ', 'IK', 'JL', 'ZO', 'CH', 'MS', 'AC','PR']

# store results
combo_stats = []

for p1, p2 in itertools.combinations(players, 2):
    mask = ls['lineup'].str.contains(p1) & ls['lineup'].str.contains(p2)
    df_pair = ls[mask]

    if df_pair.empty:
        continue  # skip if this combo never played together

    agg = df_pair[['minutes', 'plus_minus', 'poss_total', 'o_poss', 'd_poss', 'pts_for', 'pts_against']].sum()

    # Compute o_TOV%
    if 'd_TOV%' in df_pair.columns and agg['d_poss'] > 0:
        total_turnovers = (df_pair['d_TOV%'] * df_pair['d_poss']).sum()
        o_tov = total_turnovers / agg['d_poss']
    else:
        o_tov = float('nan')

    combo_stats.append({
        'Combo': f"{p1}-{p2}",
        'Minutes': agg['minutes'],
        'd_TOV%': o_tov
    })

# Convert to DataFrame
combo_df = pd.DataFrame(combo_stats)
combo_df = combo_df[combo_df['Minutes'] >= 30]  # Filter combos with at least 40 minutes played
combo_df['d_TOV%'] = combo_df['d_TOV%'].round(2)
combo_df['Minutes'] = combo_df['Minutes'].round(2)

# Sort by o_TOV%
combo_df = combo_df.sort_values('d_TOV%', ascending=False)

# Display top 5
print("Top 5 player combos by defensive turnover percentage (d_TOV%):")
print(combo_df.head(13))

Top 5 player combos by defensive turnover percentage (d_TOV%):
    Combo  Minutes  d_TOV%
42  ZO-AC    75.64    0.31
8   MH-AC    97.91    0.30
5   MH-ZO    82.20    0.28
33  IK-AC    49.35    0.27
30  IK-ZO    45.20    0.26
43  ZO-PR    66.44    0.26
20  AM-AC   110.52    0.26
45  CH-AC    97.28    0.25
9   MH-PR    73.83    0.25
49  AC-PR    75.32    0.24
6   MH-CH   140.46    0.23
40  ZO-CH    70.90    0.23
38  JL-AC    70.07    0.22

In [18]:
import itertools
import pandas as pd

# list of player shortcodes
players = ['LL', 'MH', 'AM7', 'AM', 'KJ', 'IK', 'JL', 'ZO', 'CH', 'MS', 'AC','PR']

# store results
combo_stats = []

for p1, p2, p3 in itertools.combinations(players, 3):
    mask = ls['lineup'].str.contains(p1) & ls['lineup'].str.contains(p2) & ls['lineup'].str.contains(p3)
    df_pair = ls[mask]

    if df_pair.empty:
        continue  # skip if this combo never played together

    agg = df_pair[['minutes', 'plus_minus', 'poss_total', 'o_poss', 'd_poss', 'pts_for', 'pts_against']].sum()

    # Compute o_TOV%
    if 'd_TOV%' in df_pair.columns and agg['d_poss'] > 0:
        total_turnovers = (df_pair['d_TOV%'] * df_pair['d_poss']).sum()
        o_tov = total_turnovers / agg['d_poss']
    else:
        o_tov = float('nan')

    combo_stats.append({
        'Combo': f"{p1}-{p2}-{p3}",
        'Minutes': agg['minutes'],
        'd_TOV%': o_tov
    })

# Convert to DataFrame
combo_df = pd.DataFrame(combo_stats)
combo_df = combo_df[combo_df['Minutes'] >= 30]  # Filter combos with at least 40 minutes played
combo_df['d_TOV%'] = combo_df['d_TOV%'].round(2)
combo_df['Minutes'] = combo_df['Minutes'].round(2)

# Sort by o_TOV%
combo_df = combo_df.sort_values('d_TOV%', ascending=False)

# Display top 5
print("Top 5 player combos by defensive turnover percentage (d_TOV%):")
print(combo_df.head(13))

Top 5 player combos by defensive turnover percentage (d_TOV%):
        Combo  Minutes  d_TOV%
27   MH-ZO-AC    48.49    0.34
34   MH-AC-PR    34.58    0.31
28   MH-ZO-PR    35.90    0.31
30   MH-CH-AC    62.18    0.30
18   MH-IK-AC    30.43    0.29
108  ZO-CH-AC    42.17    0.29
111  ZO-AC-PR    40.25    0.29
9    MH-AM-AC    68.95    0.29
15   MH-IK-ZO    30.95    0.28
95   IK-CH-AC    33.89    0.28
61   AM-ZO-AC    50.19    0.28
23   MH-JL-AC    46.23    0.27
25   MH-ZO-CH    46.53    0.26

In [19]:
import itertools
import pandas as pd

# list of player shortcodes
players = ['LL', 'MH', 'AM7', 'AM', 'KJ', 'IK', 'JL', 'ZO', 'CH', 'MS', 'AC','PR']

# store results
combo_stats = []

for p1, p2, p3 in itertools.combinations(players, 3):
    mask = ls['lineup'].str.contains(p1) & ls['lineup'].str.contains(p2) & ls['lineup'].str.contains(p3)
    df_pair = ls[mask]

    if df_pair.empty:
        continue  # skip if this combo never played together

    agg = df_pair[['minutes', 'plus_minus', 'poss_total', 'o_poss', 'd_poss', 'pts_for', 'pts_against']].sum()

    # Compute o_TOV%
    if 'o_orbR' in df_pair.columns and agg['o_poss'] > 0:
        total_orb = (df_pair['o_orbR'] * df_pair['o_poss']).sum()
        o_orb = total_orb / agg['o_poss']
    else:
        o_orb = float('nan')

    combo_stats.append({
        'Combo': f"{p1}-{p2}-{p3}",
        'Minutes': agg['minutes'],
        'o_orbR': o_orb
    })

# Convert to DataFrame
combo_df = pd.DataFrame(combo_stats)
combo_df = combo_df[combo_df['Minutes'] >= 10]  # Filter combos with at least 40 minutes played
combo_df['o_orbR'] = combo_df['o_orbR'].round(2)
combo_df['Minutes'] = combo_df['Minutes'].round(2)

# Sort by o_orbR
combo_df = combo_df.sort_values('o_orbR', ascending=False)
# Display top 5
print("Top 5 player combos by offensive rebound rate (o_orbR):")
print(combo_df.head(13))

Top 5 player combos by offensive rebound rate (o_orbR):
        Combo  Minutes  o_orbR
76   KJ-JL-AC    19.54    0.51
73   KJ-IK-PR    14.12    0.50
75   KJ-JL-CH    17.64    0.43
83   KJ-CH-AC    19.16    0.43
69   KJ-IK-JL    18.41    0.42
78   KJ-ZO-CH    10.38    0.41
77   KJ-JL-PR    12.16    0.37
100  JL-ZO-AC    10.54    0.36
80   KJ-ZO-AC    19.42    0.32
91   IK-JL-PR    40.48    0.32
72   KJ-IK-AC    14.93    0.30
44   AM-KJ-CH    18.14    0.30
103  JL-CH-AC    49.45    0.26

In [20]:
print(indiv['players'].unique())

['PR' 'MH' 'AM' 'JL' 'KJ' 'AC' 'IK' 'ZO' 'CH' 'MS' 'AM7']

In [21]:
players = ['LL' 'MH' 'AM7' 'AM' 'KJ' 'IK' 'JL' 'ZO' 'CH' 'MS' 'AC']
# Filter lineups containing both "AC" and "MS"
mask = ls['lineup'].str.contains('JL') & ls['lineup'].str.contains('AM')
df_ac_ms = ls[mask]

# Sum up the necessary statistics
agg = df_ac_ms[['minutes', 'plus_minus', 'poss_total', 'o_poss', 'd_poss', 'pts_for', 'pts_against']].sum()

# Recalculate PM_p40 (plus_minus per 40 minutes)
agg['PM_p40'] = agg['plus_minus'] / agg['minutes'] * 40 if agg['minutes'] > 0 else float('nan')

# Recalculate off_rtg (Offensive Rating: points scored per 100 possessions)
agg['off_rtg'] = agg['pts_for'] / agg['o_poss'] * 100 if agg['o_poss'] > 0 else float('nan')

# Recalculate def_rtg (Defensive Rating: points allowed per 100 possessions)
agg['def_rtg'] = agg['pts_against'] / agg['d_poss'] * 100 if agg['d_poss'] > 0 else float('nan')

# Recalculate o_TOV% (Turnover Percentage: turnovers per 100 possessions)
# If 'o_TOV%' exists in df_ac_ms, we need to aggregate turnovers and possessions
if 'o_TOV%' in df_ac_ms.columns:
    # o_TOV% = total_turnovers / total_o_poss
    # First, estimate total turnovers from o_TOV% * o_poss for each row, then sum
    total_turnovers = (df_ac_ms['o_TOV%'] * df_ac_ms['o_poss']).sum()
    agg['o_TOV%'] = total_turnovers / agg['o_poss'] if agg['o_poss'] > 0 else float('nan')

    # Round numeric values to 2 decimal places
    agg = agg.round(2)
# Display the aggregate statistics
print("Aggregate statistics for lineups with both JL and AM:")
display(agg)

Aggregate statistics for lineups with both JL and AM:

minutes        148.09
plus_minus      22.00
poss_total     493.09
o_poss         249.15
d_poss         243.94
pts_for        301.00
pts_against    279.00
PM_p40           5.94
off_rtg        120.81
def_rtg        114.37
o_TOV%           0.14
dtype: float64